.notification {
    color: #111;
    padding: 15px 20px;
    background: rgba(white, 0.55);
    border-radius: 5px;
    backdrop-filter: blur(8px);
    position: fixed;
    bottom: 20px;
    right: 20px;
    // horizontal offset, vertical offset, blur, color
    box-shadow: 0px 5px 12px rgba(black, 0.12);
}
