<div class="app-wrapper">

    <img [src]="background" class="background-img" (load)="onBackgroundImgLoad()">

    <div class="btn change-background-btn" style="cursor: default;" (click)="changeBackgroundImg()" *ngIf="!loadingBackgroundImg">
        <i class="material-icons" style="cursor: alias;">refresh</i>
    </div>

    <div class="top-section">
        <h1>19:00</h1>
        <h2>1 January 2022</h2>
    </div>

    <!-- <div class="content-section" [@routeAnim]="prepareRoute(outlet)" style="position: relative"> -->
    <div class="content-section" [@routeAnim]="prepareRoute(outlet)">
        <router-outlet #outlet="outlet"></router-outlet>
    </div>

    <div class="bottom-section">
        <app-tabs></app-tabs>
    </div>

    <app-notification></app-notification>

</div>