.app-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    // background-color: #e1e2ed;
    background-image: url("https://images.unsplash.com/photo-1656067335552-1f6fbe336b5a?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=1080&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY1ODQwODE4OQ&ixlib=rb-1.2.1&q=80&w=1920");
    // background-image: url("https://images.unsplash.com/photo-1601885823844-051c9ca3c5a9?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=1080&ixlib=rb-1.2.1&q=80&w=1920");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.top-section {
    // background-color: aquamarine;
    text-align: center;
    // flex-grow: 1;
    padding: 100px 0;

    h1 {
        font-size: 120px;
        font-weight: bold;
        color: #f5f5f5;
        text-shadow: 0px 1px 7px rgba(black, 0.5);
        // text-shadow: 0px 1px 7px rgba(black, 0.1);
    }

    h2 {
        font-size: 28px;
        color: white;
        text-shadow: 0px 1px 4px rgba(black, 0.5);
        // text-shadow: 0px 1px 4px rgba(black, 0.1);
    }
}

.content-section {
    // background-color: cadetblue;
    // position relative can also be set here
    // position: relative;
    flex-grow: 1;
    min-height: 0;
}

.bottom-section {
    // background-color: coral;
    display: flex;

    app-tabs {
        margin: auto;
    }
}

.change-background-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    background: rgba(black, 0.4);
    color: rgba(white, 0.7);

    &:hover {
        background: rgba(black, 0.6);
        color: white;
    }

    &:active {
        transform: translateY(4px);
    }
}
