<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-danger">
                Add Contact
            </p>
            <p class="fst-italic">Lorem ipsum dolor sit amet consectetur adipisicing elit. In repellat temporibus harum
                maxime, nesciunt
                ducimus alias. Facilis quod, ratione aspernatur excepturi vitae, consequatur ipsam, temporibus
                dignissimos quas modi possimus. Laborum.</p>
        </div>
    </div>
</div>

<!-- <pre>{{contact | json}}</pre> -->

<!-- Loading -->
<div *ngIf="loading">
    <app-spinner></app-spinner>
</div>

<!-- Error -->
<div *ngIf="!loading && errorMessage">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="h4 text-danger fw-bold">
                    {{errorMessage}}
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Create Contact Form -->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form (submit)="createSubmit()">
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Name" [(ngModel)]="contact.name" name="name"
                        required="true">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Photo URL" [(ngModel)]="contact.photo"
                        name="photo" required="true">
                </div>
                <div class="mb-2">
                    <input type="email" class="form-control" placeholder="Email" [(ngModel)]="contact.email"
                        name="email" required="true">
                </div>
                <div class="mb-2">
                    <input type="number" class="form-control" placeholder="Mobile" [(ngModel)]="contact.mobile"
                        name="mobile" required="true">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Company" [(ngModel)]="contact.company"
                        name="company" required="true">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Title" [(ngModel)]="contact.title" name="title"
                        required="true">
                </div>
                <div class="mb-2">
                    <select class="form-control" *ngIf="groups.length > 0" [(ngModel)]="contact.groupId" name="groupId"
                        required="true">
                        <option [ngValue]="undefined" disabled selected>Select a Group</option>
                        <option [value]="group.id" *ngFor="let group of groups">{{group.name}}</option>
                    </select>
                </div>
                <div class="mb-2">
                    <input type="submit" class="btn btn-danger" value="Create">
                    <a routerLink="/" class="btn btn-dark ms-2">Return to Main</a>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <!-- <img src="assets/img/UserIcon.png" alt="" class="contact-img"> -->
            <img [src]="contact.photo" alt="" class="contact-img">
        </div>
    </div>
</div>