<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-danger">
                Add Contact
            </p>
            <p class="fst-italic">Lorem ipsum dolor sit amet consectetur adipisicing elit. In repellat temporibus harum
                maxime, nesciunt
                ducimus alias. Facilis quod, ratione aspernatur excepturi vitae, consequatur ipsam, temporibus
                dignissimos quas modi possimus. Laborum.</p>
        </div>
    </div>
</div>

<!-- Create Contact Form -->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Name">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Photo URL">
                </div>
                <div class="mb-2">
                    <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="mb-2">
                    <input type="number" class="form-control" placeholder="Mobile">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Company">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Title">
                </div>
                <div class="mb-2">
                    <select class="form-control">
                        <option value="">Select a Group</option>
                    </select>
                </div>
                <div class="mb-2">
                    <input type="submit" class="btn btn-danger" value="Create">
                    <a routerLink="/" class="btn btn-dark ms-2">Return to Main</a>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <img src="assets/img/UserIcon.png" alt="" class="contact-img">
        </div>
    </div>
</div>