<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-danger">
                Add Contact
            </p>
            <p class="fst-italic">Lorem ipsum dolor sit amet consectetur adipisicing elit. In repellat temporibus harum maxime, nesciunt
                ducimus alias. Facilis quod, ratione aspernatur excepturi vitae, consequatur ipsam, temporibus
                dignissimos quas modi possimus. Laborum.</p>
        </div>
    </div>
</div>

<!-- Contact Form -->
<div class="container">

</div>