<aside>
    <div class="aside">
        <h2 class="title">
            {{title}}
        </h2>
        <div *ngIf="items">
            <!-- <div *ngFor="let item of items" class="aside-theme"> -->
            <div *ngFor="let item of items; let i = index;" class="aside-theme">
                <ng-container *ngTemplateOutlet="itemTemplateRef; context:{$implicit: item, index: i}"></ng-container>


                <!-- <div *ngTemplateOutlet="itemTemplateRef"></div> 
                ng-container does not create nested div element, implements dummy element
                that emulates div element -->

                <!-- standard template generate inside of parent app.component -->
                <!-- <a href="#">
                    <h3>{{item.themeId.themeName}}</h3>
                    <p>{{item.userId.username}}</p>
                    <p><span>{{item.created_at}}</span></p>
                </a> -->
            </div>

            <!-- Can not be applied since style for generated elements,
            will be derived from parent component -->
            <!-- <ng-template ngFor let item [ngForOf]="items">
                <div class="aside-theme"></div>
            </ng-template> -->

        </div>
        <div *ngIf="!items">Loading...</div>
    </div>
</aside>

<!-- Themes variant -->
<!-- <aside>
    <div class="aside">
        <h2 class="title">
            {{title}}
        </h2>
        <div *ngIf="items">
            <div *ngFor="let item of items" class="aside-theme">
                <a href="#">
                    <h3>{{item.themeName}}</h3>
                    <p>{{item.userId.username}}</p>
                    <p><span>{{item.created_at}}</span></p>
                </a>
            </div>
        </div>
        <div *ngIf="!items">Loading...</div>
    </div>
</aside> -->