.note-card {
    background-color: rgba(black, 0.5);
    color: rgba(wheat, 0.95);
    padding: 25px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.4s;

    &:hover {
        background-color: rgba(black, 0.6);
        backdrop-filter: blur(2px);
    }
}

.note-card-title{
    font-size: 20px;
    font-weight: 600;
}

.note-card-content{
    margin-top: 7px;
}