<div class="notes-wrapper">

    <div class="container">

        <div class="notes-list">

            <div class="note-card">
                <div class="note-card-title">This is the Note Title!</div>
                <div class="note-card-content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus dolor
                    unde dolorum quaerat omnis, molestias, recusandae numquam culpa laboriosam ducimus repellat iusto
                    corporis hic adipisci, distinctio placeat sequi veniam fugit.</div>
            </div>

        </div>

        <div class="btns-container btns-centered">
            <a class="btn">Add Note</a>
        </div>

    </div>

</div>