<h3 *ngIf="pokemon" class="center #f9fbe7 lime lighten-4">Peshomon Detail</h3>

<!-- row => equivalent to a materialize line -->
<div *ngIf="pokemon" class="row">
    <!-- offset for centering pokemon card (center-align ?), one column which takes whole screen width -->
    <div class="col s12 m8 offset-m2">
        <h4 class="header card center hoverable" style="transition: 1000ms;">++ {{ pokemon.name }} ++</h4>
        <div class="card horizontal hoverable" style="transition: 1000ms;">
            <div class="card-image">
                <img [src]="pokemon.picture">
            </div>

            <div class="card-stacked">
                <div class="card-content">
                    <table class="bordered striped">
                        <tbody>
                            <tr>
                                <td>Name</td>
                                <td><strong>{{ pokemon.name }}</strong></td>
                            </tr>
                            <tr>
                                <td>Health Points</td>
                                <td><strong>{{ pokemon.hp }}</strong></td>
                            </tr>
                             <tr>
                                <td>Damage</td>
                                <td><strong>{{ pokemon.cp }}</strong></td>
                            </tr>
                            <tr>
                                <td>Types</td>
                                <td>
                                    <span *ngFor="let type of pokemon.types"
                                        class="{{ type | pokemonTypeColor }} hoverable pokemonSkill"
                                        style="transition: 1000ms;">
                                        {{type }}
                                    </span>
                                </td>
                            </tr>
                             <tr>
                                <td>Date of Creation</td>
                                <td><strong>{{ pokemon.created | date:"dd/MM/yyyy" }}</strong></td>
                                <!-- <td><em>{{ pokemon.created | date:"dd/MM/yyyy" }}</em></td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- card-action envolops return btn -->
                <div class="card-action">
                    <a class="btn hoverable" style="transition: 1000ms;" (click)="returnToPokemonList()">
                        Return to PeshoMon Arena!
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<h3 *ngIf='!pokemon' class="center #ffcdd2 red lighten-4">No PeshoMon selected!</h3>