.manage-bookmarks-wrapper {
    display: flex;
    height: 100%;
}

.sidebar {
    height: 100%;
    width: 220px;
    background-color: rgba(grey, 0.7);
    backdrop-filter: blur(4px);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.sidebar-heading {
    color: rgba(black, 0.9);
    font-weight: 600;
    font-size: 20px;
    padding: 25px;
}

.sidebar-items {
    display: flex;
    flex-direction: column;
}

.sidebar-item {
    color: rgba(black, 0.9);
    // 5px top/bottom 25px left/right
    padding: 5px 25px;
}

.content {
    flex-grow: 1;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
