<div class="body">
    <div class="login">
        <mat-spinner *ngIf="loading" class="spinner" diameter="50"></mat-spinner>

        <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="login()">
            <img src="/assets/img/user-icon.png" alt="user-icon" width="50%">
            <!-- <img src="../../../assets/img/user-icon.png" alt="user-icon"> -->
            <h1>Login</h1>
            <mat-form-field class="field" appearance="fill" hideRequiredMarker="true">
                <mat-label>Username</mat-label>
                <input type="text" matInput autocomplete="off" formControlName="username">
            </mat-form-field>
            <mat-form-field class="field" appearance="fill" hideRequiredMarker="true">
                <mat-label>Password</mat-label>
                <input type="password" matInput autocomplete="off" formControlName="password">
            </mat-form-field>
            <br>
            <button type="submit" class="field button" mat-raised-button color="primary" [disabled]="form.invalid">Login</button>
        </form>
    </div>

</div>