<div class="body">
    <div class="login">
        <img src="/assets/img/user-icon.png" alt="user-icon" width="50%">
        <!-- <img src="../../../assets/img/user-icon.png" alt="user-icon"> -->
        <h1>Login</h1>
        <mat-form-field class="field" appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput autocomplete="off">
        </mat-form-field>
        <mat-form-field class="field" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput autocomplete="off">
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary">Primary</button>
    </div>

</div>