.pokemonCard {
    // height="100" width="100" style="max-width: none;"
    height: 100px;
    width: 100px;
    max-width: none;
}

.pokemonSkill {
    width: 70px;
    text-align: center;
}

.loader {
    position: absolute;
    margin: auto;
    top: 50vh;
    bottom: 50vh;
    left: 0;
    right: 0;
}
