<div class="container-fluid">
    <form (ngSubmit)="onSubmit()" [formGroup]="personalForm">
        <div class="row g-3">
            <div class="col-2">
                <label>Name</label>
            </div>
            <div class="col">
                <input type="text" name="name" placeholder="Name" formControlName="name">
                <!-- {{formGroup.controls['name'] | json}} -->
                <!-- <ng-container *ngIf="formGroup.controls['name'].touched">
                <div>
                    <hr>
                    <h1>Hello Pesho</h1>
                    <hr>
                </div>
            </ng-container> -->
            </div>
        </div>

        <div class="row g-3">
            <div class="col-2">
                <label>Age: </label>
            </div>
            <div class="col">
                <input type="text" name="age" placeholder="Age" formControlName="age">
            </div>
        </div>

        <div class="row g-3">
            <div class="col-2">
                <label>Email: </label>
            </div>
            <div class="col">
                <input type="text" name="email" placeholder="Email" formControlName="email">
            </div>
        </div>

        <div class="row g-3">
            <div class="col-2">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>

    </form>
    <br>
</div>
<hr>
Form Value => {{personalForm.value | json}}
<br>
Form Status => {{personalForm.status}}