<h3 class="center #f9fbe7 lime lighten-4" style="cursor: default;">Create Peshomon Trainer</h3>

<div class="row">
    <div class="col s12 m6 offset-m3">
        <div class="center-align">
            <div class="card-panel hoverable centered" style="transition: 1000ms;">
                <img src="/assets/peshomonTrainer.gif" class="responsive-img">
            </div>
        </div>
    </div>
</div>

<form (ngSubmit)="onSubmit()" #peshomonForm="ngForm">
    <div class="row">
        <!-- <div class="col s8 offset-s2"> -->
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <!-- Username -->
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" required pattern="^[a-zA-Z0-9]{1,25}$"
                        [(ngModel)]="username" name="username" #usernameValid="ngModel"
                        placeholder="Enter your username">
                    <div [hidden]="usernameValid.valid || usernameValid.untouched"
                        class="card-panel red accent-1 hoverable">
                        An username is required and must be 1-25 characters long!
                    </div>
                </div>

                <!-- Peshomon image -->
                <!-- <div class="form-group"> -->
                <!-- <div *ngIf="isAddForm" class="form-group">
                    <label for="picture">Picture</label>
                    <input type="url" class="form-control" id="picture" required pattern="^https?:\/\/(.+)"
                        [(ngModel)]="peshomon.picture" name="picture" #picture="ngModel">
                    <div [hidden]="picture.valid || picture.pristine" class="card-panel red accent-1 hoverable">
                        A valid picture url must be entered!
                    </div>
                </div> -->
                  
                <!-- Password -->
                <div class="form-group">
                    <label for="pasword">Password</label>
                    <input type="password" class="form-control" id="password" required pattern="^[a-zA-Z0-9]{1,25}$"
                        [(ngModel)]="password" name="password" #passwordValid="ngModel"
                        placeholder="Enter your password">
                    <div [hidden]="passwordValid.valid || passwordValid.untouched"
                        class="card-panel red accent-1 hoverable">
                        A password is required and must be 1-25 characters long!
                    </div>
                </div>

                <!-- Email -->
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="url" class="form-control" id="email" required pattern="[a-z]+@[a-z]+\.[a-z]{2,6}"
                        [(ngModel)]="email" name="email" #emailValid="ngModel" placeholder="Enter your email">
                    <div [hidden]="emailValid.valid || emailValid.untouched" class="card-panel red accent-1 hoverable">
                        A valid email must be entered!
                    </div>
                </div>
                  
                <!-- Peshomon dp -->
                <!-- <div class="form-group">
                    <label for="cp">Damage Points</label>
                    <input type="number" class="form-control" id="cp" required pattern="^[0-9]{1,2}$"
                        [(ngModel)]="peshomon.cp" name="cp" #cp="ngModel">
                    <div [hidden]="cp.valid || cp.pristine" class="card-panel red accent-1 hoverable">
                        The Damage Points of a Peshomon must be between 0 and 99!
                    </div>
                </div> -->
                  
                <!-- Peshomon types -->
                <!-- <form class="form-group">
                    <label for="types">Types</label>
                    <p *ngFor="let type of peshomonTypes">
                        <label>
                            <input type="checkbox" class="filled-in" id="{{ type }}" [value]="type"
                                [checked]="hasType(type)" [disabled]="!isTypeAmountValid(type)"
                                (change)="selectType($event, type)" />
                            <span [attr.for]="type">
                                <div class="{{ type | pokemonTypeColor }} hoverable pokemonSkill">
                                    {{ type }}
                                </div>
                            </span>
                        </label>
                    </p>
                    <div class="card-panel green accent-1 hoverable">
                        A Peshomon must have between 1-3 types!
                    </div>
                </form> -->   
            </div>

            <!-- Cancel button -->
            <div class="card-action center">
                <button type="button" class="btn hoverable #e53935 red darken-1"
                    style="transition: 1000ms; min-width: 300px; cursor: w-resize;" (click)="cancelChanges($event)">
                    Cancel Changes
                </button>
            </div>       

            <!-- Create Peshomon Trainer button -->
            <div class="card-action center">
                <!-- <button type="submit" class="waves-effect waves-light btn" [disabled]="!peshomonForm.form.valid"> -->
                <button type="submit" class="btn hoverable" [disabled]="!peshomonForm.form.valid"
                    style="transition: 1000ms; min-width: 300px; cursor: copy;">
                    Create Peshomon Trainer
                </button>
            </div>       
        </div>
    </div>
</form>