<h1 class="center">Welcome to Pesho-Mon!</h1>

<div class="container">
    <div class="row">
        <!-- 3 peshomon per row, or 2 on small screen -->
        <div *ngFor="let pokemon of pokemonList" class="col m4 s6">
            <div class="card horizontal" pokemonBorderCard>
                <div class="card-image">
                    <img [src]="pokemon.picture" height="100" width="100" style="max-width: none;" />
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>{{pokemon.name}}</p>
                        <p> <small>{{pokemon.created | date:"dd/MM/yyyy"}}</small> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <input #input (keyup.enter)="selectPokemon(input.value)" type="number">
<button (click)="selectPokemon(input.value)">Pesho-Mon</button> -->

<!-- <p>{{input.value}}</p> -->
<!-- <p *ngIf="pokemonSelected">
    Pesho-Mon => {{pokemonSelected?.name}}
</p>
<p *ngIf="!pokemonSelected">
    No Pesho-Mon has been found!
</p> -->