.pokemonCard {
    // height="100" width="100" style="max-width: none;"
    height: 100px;
    width: 100px;
    max-width: none;
}

.pokemonSkill {
    width: 70px;
    text-align: center;
}

.sidenav > li > a {
    margin: 10px 20px;
    border-radius: 10px;
    border: 2px solid black;
}

.sidenav > li > a:hover {
    background-color: rgb(200, 200, 200);
}
