<!-- <h1 class="center #e0f2f1 teal lighten-5">Welcome to Pesho-Mon!</h1> -->
<nav>
    <div class="nav-wrapper teal">
        <!-- <a href="/pokemons" class="brand-logo center" style="min-width: 215px; cursor: context-menu;">Peshomon Arena</a> -->
        <a (click)="returnToPeshomonList()" class="brand-logo center" style="min-width: 215px; cursor: context-menu;">Peshomon Arena</a>
        <a (click)="goToLogin()" class="brand-logo right" style="min-width: 215px; cursor: context-menu;">Login</a>

    </div>
</nav>

<router-outlet></router-outlet>