<!-- <h1 class="center #e0f2f1 teal lighten-5">Welcome to Pesho-Mon!</h1> -->
<header class="navbar-fixed">
    <nav>
        <div class="nav-wrapper teal">
            <!-- <a href="/pokemons" class="brand-logo center" style="min-width: 215px; cursor: context-menu;">Peshomon Arena</a> -->
            <!-- <a (click)="goToLogin()" class="brand-logo right" style="min-width: 215px; cursor: context-menu;">Login</a> -->
            <a (click)="returnToPeshomonList()" class="brand-logo center"
                style="min-width: 215px; cursor: context-menu;">
                Peshomon Arena
            </a>

            <a class="sidenav-trigger right" data-target="sidebar-list" style="cursor: pointer;">
                <i class="material-icons">menu</i>
            </a>

            <a class="dropdown-trigger left hide-on-large-only" data-target="dropdown-list"
                style="cursor: pointer; padding-left: 10px;">
                <!-- <i class="material-icons">arrow_drop_down</i> -->
                <i class="material-icons">list</i>
            </a>

            <!-- <ul class="align-items-end"> -->
            <ul class="left hide-on-med-and-down">
                <li *ngIf="!authService.isLoggedIn" title="Login">
                    <a (click)="goToLogin()" style="cursor: pointer;">
                        <i class="material-icons">badge</i>
                    </a>
                </li>
                <li *ngIf="!authService.isLoggedIn" title="Register">
                    <a (click)="goToLogin()" style="cursor: pointer;">
                        <i class="material-icons">group_add</i>
                    </a>
                </li>
                <li *ngIf="authService.isLoggedIn" title="Logout">
                    <a (click)="logout()" style="cursor: pointer">
                        <i class="material-icons">logout</i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <ul id="dropdown-list" class="dropdown-content">
        <li *ngIf="!authService.isLoggedIn" title="Login" (click)="goToLogin()" class="hoverable"
            style="transition: 1000ms;">
            <a style="cursor: pointer; background: none;">
                <!-- Login -->
                <i class="material-icons">badge</i>
            </a>
        </li>
        <li *ngIf="!authService.isLoggedIn" title="Register" (click)="goToLogin()" class="hoverable"
            style="transition: 1000ms;">
            <a style="cursor: pointer; background: none;">
                <!-- Register -->
                <i class="material-icons">group_add</i>
            </a>
        </li>
        <li *ngIf="authService.isLoggedIn" title="Logout" (click)="logout()" class="hoverable"
            style="transition: 1000ms;">
            <a style="cursor: pointer; background: none;">
                <!-- Logout -->
                <i class="material-icons">logout</i>
            </a>
        </li>
    </ul>
</header>

<ul class="sidenav" id="sidebar-list">
    <li *ngIf="!authService.isLoggedIn"> <a (click)="goToLogin()" style="cursor: pointer;">Login</a> </li>
    <li *ngIf="!authService.isLoggedIn"> <a (click)="goToLogin()" style="cursor: pointer;">Register</a> </li>
    <li *ngIf="authService.isLoggedIn"> <a (click)="logout()" style="cursor: pointer">Logout</a> </li>
</ul>

<router-outlet></router-outlet>