<div class="edit-note-wrapper container has-blurred-white-bg">
    <h2 class="is-bold">Edit Note</h2>

    <form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
    <!-- <form #form="ngForm" > -->
        <div class="form-field">
            <input [ngModel]="note?.title" #titleField="ngModel" name="title" class="textbox" type="text"
                placeholder="Enter note title..." required minlength="3">
            <ng-container *ngIf="titleField.invalid">
                <p style="color: red;" *ngIf="titleField?.errors?.['required']">Please enter a note title!</p>
                <p style="color: red;" *ngIf="titleField?.errors?.['minlength']">Note title must be at least 3
                    characters long!</p>
            </ng-container>
        </div>

        <div class="form-field">
            <textarea [ngModel]="note?.content" name="content" class="textarea" placeholder="Enter note content..."></textarea>
        </div>

        <div class="btns-container">
            <a routerLink="../" class="btn back">Back to Notes</a>
            <button type="submit" class="btn align-end" style="cursor: copy;">Edit Note</button>
        </div>
    </form>
</div>