<br>
<br>
<h1>Awesome Carousel</h1>
<app-carousel [images]="images" [autoSlide]="false"></app-carousel>

<br>
<br>

<h1>Auto Slide</h1>
<app-carousel [images]="images" [autoSlide]="true"></app-carousel>

<br>
<br>

<h1>Auto Slide with Custom Interval</h1>
<app-carousel [images]="images" [autoSlide]="true" [slideInterval]="1000"></app-carousel>

<br>
<br>

<h1>Hide Dot Indicators</h1>
<app-carousel [images]="images" [indicators]="false"></app-carousel>

<br>
<br>

<h1>Hide Button Controls</h1>
<app-carousel [images]="images" [controls]="false"></app-carousel>
