<!-- Progress Bar  -->
<div *ngIf="!peshomon && !noPeshomon" class="center">
    <div class="progress spinner" style="width: 70%; left: 15%;">
        <div class="indeterminate"></div>
    </div>
</div>

<h3 class="center #f9fbe7 lime lighten-4" style="cursor: default;">Peshomon Detail</h3>
<!-- <h3 *ngIf="peshomon" class="center #f9fbe7 lime lighten-4">Peshomon Detail</h3> -->

<!-- row => equivalent to a materialize line -->
<div *ngIf="peshomon" class="row">
    <!-- offset for centering pokemon card (center-align ?), one column which takes whole screen width -->
    <div class="col s12 m8 offset-m2">
        <h4 class="header card center hoverable" style="transition: 1000ms; cursor: default;">++ {{ peshomon.name }} ++</h4>
        <div class="card horizontal hoverable" style="transition: 1000ms;">
            <div class="card-image responsive-img">
                <!-- <img [src]="peshomon.picture" style="min-width: 120px;"> -->
                <img [src]="peshomon.picture">
            </div>

            <div class="card-stacked">
                <div class="card-content">
                    <table class="bordered striped">
                        <tbody>
                            <tr>
                                <td>Name</td>
                                <td><strong>{{ peshomon.name }}</strong></td>
                            </tr>
                            <tr>
                                <td>Health Points</td>
                                <td><strong>{{ peshomon.hp }}</strong></td>
                            </tr>
                             <tr>
                                <td>Damage Points</td>
                                <td><strong>{{ peshomon.cp }}</strong></td>
                            </tr>
                            <tr>
                                <td>Types</td>
                                <td>
                                    <span *ngFor="let type of peshomon.types"
                                        class="{{ type | pokemonTypeColor }} hoverable pokemonSkill"
                                        style="transition: 1000ms; cursor: default;">
                                        {{type }}
                                    </span>
                                </td>
                            </tr>
                             <tr>
                                <td>Date of Creation</td>
                                <td><strong>{{ peshomon.created | date:"dd/MM/yyyy" }}</strong>
                                </td>
                                <!-- <td><em>{{ pokemon.created | date:"dd/MM/yyyy" }}</em></td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- card-action envolops return btn -->
                <!-- <div class="card-action">
                    <a class="btn hoverable" style="transition: 1000ms; min-width: 300px;"
                        (click)="returnToPeshomonList()">
                        Return to PeshoMon Arena!
                    </a>
                </div> -->
            </div>
        </div>
        <div class="card-action center">
            <a class="btn hoverable #b39ddb deep-purple lighten-3"
                style="transition: 1000ms; min-width: 300px; cursor: zoom-in;" (click)="editPeshomon(peshomon)">
                Edit Peshomon "{{peshomon.name}}"
            </a>
        </div>
        <br>
        <div class="card-action center">
            <a class="btn hoverable #d32f2f red darken-2"
                style="transition: 1000ms; min-width: 300px; cursor: zoom-out;" (click)="deletePeshomon(peshomon.id)">
                Delete Peshomon "{{peshomon.name}}"
            </a>
        </div>
        <br>
        <div class="card-action center">
            <a class="btn hoverable" style="transition: 1000ms; min-width: 300px; cursor: w-resize;"
                (click)="returnToPeshomonList()">
                Return to PeshoMon Arena
            </a>
        </div>
    </div>
</div>

<!-- <div *ngIf="noPeshomon" class="row errorText"> -->
<!-- +++ -->
<!-- <div *ngIf="noPeshomon" class="row" style="margin-top: 10%">
    <div class="col s12 m8 offset-m2 center-align">
        <img class="hoverable" src="/assets/noPeshomon.gif" style="max-width: 300px;">
        <h3 class="center hoverable #ffcdd2 red lighten-4">No Peshomon selected!</h3>
    </div>
</div> -->
<!-- +++ -->
<!-- <h3 *ngIf="noPeshomon" class="center hoverable #ffcdd2 red lighten-4 errorText">No Peshomon selected!</h3> -->

<!-- <div *ngIf="noPeshomon" class="row" style="margin-top: 10%;"> -->
<div *ngIf="noPeshomon" class="row">
    <div class="col s12 m8 offset-m2 center-align">
        <h4 class="center hoverable #ffcdd2 red lighten-4" style="transition: 1000ms;cursor: default;">
            No Peshomon selected!
        </h4>
        <div class="card centered" style="transition: 1000ms; cursor: not-allowed;">
            <div class="card-panel hoverable centered" style="transition: 1000ms;">
                <img src="/assets/noPeshomon.gif" class="responsive-img">
                <!-- <img src="/assets/noPeshomon.gif" style="max-width: 250px;"> -->
            </div>
        </div>
    </div>
    <div class="card-action center">
        <a class="btn hoverable" style="transition: 1000ms; min-width: 300px; cursor: w-resize;"
            (click)="returnToPeshomonList()">
            Return to PeshoMon Arena
        </a>
    </div>
</div>