<div class="bookmark-tile">
    <div class="tile-icon" *ngIf="!faviconError">
        <!-- will listen to a potential error event -->
        <img [src]="tileIconSrc" alt="" (error)="faviconError=true">
    </div>

    <div class="tile-icon" *ngIf="faviconError">
        {{ bookmark.name[0] }}
    </div>

    <p class="tile-text">{{bookmark.name}}</p>
</div>
<!-- <div class="bookmark-tile">
    <img src="http://duckduckgo.com/favicon.ico" alt="">
    <p class="tile-text">DuckDuckGo</p>
</div> -->