.bookmark-tile {
    display: flex; // by default items are next to each other
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(black, 0.55);
    border-radius: 12px;
    width: 100px;
    height: 100px;
    gap: 12px;
    cursor: context-menu;
    transition: all 0.5s;

    &:hover {
        background: rgba(black, 0.68);
        backdrop-filter: blur(1px);
    }

    &:active {
        background: rgba(black, 0.75);
        transform: translateY(6px);
        transition-duration: 0.2s;
    }
}

.bookmark-tile img {
    max-width: 32px;
}

.tile-text {
    font-size: 14px;
    color: rgba(white, 0.85);
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
    text-overflow: ellipsis;
}
