<a [href]="bookmark.url" class="bookmark-tile">
    <div class="tile-icon" *ngIf="!faviconError">
        <!-- will listen to a potential error event -->
        <img [src]="tileIconSrc" alt="" (error)="faviconError=true">
    </div>

    <div class="tile-icon fallback" *ngIf="faviconError">
        {{ bookmark.name.toUpperCase()[0] }}
    </div>

    <p class="tile-text">{{bookmark.name}}</p>
</a>

<!-- <div class="bookmark-tile">
    <img src="http://duckduckgo.com/favicon.ico" alt="">
    <p class="tile-text">DuckDuckGo</p>
</div> -->