<h3 class="center #f9fbe7 lime lighten-4" style="cursor: default;">Peshomon Editor</h3>
<!-- <h4 class="card center hoverable" style="transition: 1000ms;" *ngIf="peshomon">++{{peshomon.name}}++</h4> -->
<!-- <h4 class="center #ffcdd2 red lighten-4" *ngIf="noPeshomon">No Peshomon selected!</h4> -->

<div *ngIf="!peshomon && !noPeshomon" class="loader">
    <div class="progress" style="width: 70%; left: 15%;">
        <div class="indeterminate"></div>
    </div>
</div>

<div *ngIf="peshomon">
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="center-align">
                <div class="card-panel hoverable centered" style="transition: 1000ms;">
                    <img [src]="peshomon.picture" class="responsive-img">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <p class="center" *ngIf="peshomon">
    <img [src]="peshomon.picture" class="responsive-img">
</p> -->

<app-peshomon-form *ngIf="peshomon" [peshomon]="peshomon"></app-peshomon-form>

<div *ngIf="noPeshomon" class="row" style="margin-top: 10%;">
    <div class="col s12 m8 offset-m2 center-align">
        <div class="card centered" style="transition: 1000ms; cursor: not-allowed;">
            <div class="card-panel hoverable centered" style="transition: 1000ms;">
                <img src="/assets/noPeshomon.gif" class="responsive-img">
                <!-- <img src="/assets/noPeshomon.gif" style="max-width: 250px;"> -->
            </div>
        </div>
        <h4 class="center hoverable #ffcdd2 red lighten-4" style="transition: 1000ms;cursor: default;">No Peshomon
            selected!</h4>
    </div>

    <div class="card-action center">
        <a class="btn hoverable" style="transition: 1000ms; min-width: 300px; cursor: w-resize;"
            (click)="returnToPeshomonList()">
            Return to PeshoMon Arena
        </a>
    </div>
</div>