<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-danger">
                Edit Contact
            </p>
            <p class="fst-italic">Lorem ipsum dolor sit amet consectetur adipisicing elit. In repellat temporibus harum
                maxime, nesciunt
                ducimus alias. Facilis quod, ratione aspernatur excepturi vitae, consequatur ipsam, temporibus
                dignissimos quas modi possimus. Laborum.</p>
        </div>
    </div>
</div>

<!-- Edit Contact Form -->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Name" [value]="contact.name" name="name"
                        required="true" [(ngModel)]="contact.name">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Photo URL" [value]="contact.photo" name="photo"
                        required="true" [(ngModel)]="contact.photo">
                </div>
                <div class="mb-2">
                    <input type="email" class="form-control" placeholder="Email" [value]="contact.email" name="email"
                        required="true" [(ngModel)]="contact.email">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Mobile" [value]="contact.mobile" name="mobile"
                        required="true" [(ngModel)]="contact.mobile">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Company" [value]="contact.company"
                        name="company" required="true" [(ngModel)]="contact.company">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Title" [value]="contact.title" name="title"
                        required="true" [(ngModel)]="contact.title">
                </div>
                <div class="mb-2">
                    <select class="form-control" [(ngModel)]="contact.groupId" [value]="contact.groupId" name="groupId"
                        required="true">
                        <!-- <option [value]="contact.groupId" [ngValue]="undefined" selected>{{group.name}}</option> -->
                        <option [value]="" disabled>Select a Group</option>
                        <option [value]="group.id" *ngFor="let group of groups">{{group.name}}</option>
                    </select>
                </div>
                <div class="mb-2">
                    <input type="submit" class="btn btn-danger" value="Update">
                    <a routerLink="/" class="btn btn-dark ms-2">Return to Main</a>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <!-- <img src="assets/img/UserIcon.png" alt="" class="contact-img"> -->
            <img [src]="contact.photo" alt="" class="contact-img">
        </div>
    </div>
</div>

<!-- <pre>{{contact | json}}</pre> -->