<div class="edit-bookmark-wrapper">
    <ng-container *ngIf="bookmark">
        <h2 class="is-bold">{{bookmark.name}}</h2>

        <form #form="ngForm" ngNativeValidate (ngSubmit)="onFormSubmit(form)">
            <div class="form-field">
                <label class="form-label">Bookmark Name</label>
                <input [ngModel]="bookmark.name" #textField="ngModel" name="name" class="textbox" type="text"
                    placeholder="i.e. Wikipedia">
            </div>

            <div class="form-field">
                <label class="form-label">URL Link</label>
                <input [ngModel]="bookmark.url" #textField="ngModel" name="url" class="textbox" type="url"
                    placeholder="i.e. https://wikipedia.org" required>
            </div>

            <div class="btns-container">
                <a routerLink="../../" class="btn back">Back to Bookmarks</a>
                <button type="button" class="btn" style="cursor: no-drop;" (click)="delete()">Delete Bookmark</button>
                <button type="submit" class="btn align-end" style="cursor: context-menu;">Edit Bookmark</button>
            </div>
        </form>
    </ng-container>

    <h2 class="is-bold" *ngIf="!bookmark">No Bookmark Selected</h2>
</div>