<div class="todos-wrapper">

    <div class="container">

        <app-todo-item @todoItemAnim *ngFor="let todo of todos" [todo]="todo" (click)="toggleCompleted(todo)"
            (editClick)="onEditClick(todo)" (deleteClick)="onDeleteClick(todo)"></app-todo-item>

        <div class="btns-container btns-centered">
            <a routerLink="add" class="btn add-btn">
                <i class="material-icons-outlined">add</i>
                Add Todo
            </a>
        </div>

        <!-- <div class="todo-item completed">
            <div class="check-box">
                <i class="material-icons-outlined">check</i>
            </div>
            <p class="todo-text">This is the todo text!</p>
        </div> -->

        <!-- <div class="todo-item">
            <div class="check-box">
                <i class="material-icons-outlined">check</i>
            </div>
            <p class="todo-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, neque ex id debitis
                numquam quod animi sequi quae, alias molestiae commodi repudiandae ipsum tempora facilis laborum ullam,
                saepe delectus sunt!Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, neque ex id
                debitis numquam quod animi sequi quae, alias molestiae commodi repudiandae ipsum tempora facilis laborum
                ullam, saepe delectus sunt!Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, neque ex id
                debitis numquam quod animi sequi quae, alias molestiae commodi repudiandae ipsum tempora facilis laborum
                ullam, saepe delectus sunt!</p>
        </div> -->

    </div>

</div>