<div class="todos-wrapper">

    <div class="container">

        <div class="todo-item completed">
            <div class="check-box">
                <i class="material-icons-outlined">check</i>
            </div>
            <p class="todo-text">This is the todo text!</p>
        </div>


        <div class="todo-item">
            <div class="check-box">
                <i class="material-icons-outlined">check</i>
            </div>
            <p class="todo-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, neque ex id debitis numquam quod animi sequi quae, alias molestiae commodi repudiandae ipsum tempora facilis laborum ullam, saepe delectus sunt!Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, neque ex id debitis numquam quod animi sequi quae, alias molestiae commodi repudiandae ipsum tempora facilis laborum ullam, saepe delectus sunt!Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, neque ex id debitis numquam quod animi sequi quae, alias molestiae commodi repudiandae ipsum tempora facilis laborum ullam, saepe delectus sunt!</p>
        </div>

    </div>

</div>