.todos-wrapper {
    height: 100%;
    overflow-y: auto;
    // color: wheat;
    // background-color: wheat;
}

.todo-item {
    display: flex;
    align-items: center;
    background-color: rgba(black, 0.5);
    // higher the pixel and larger than overall height, generates rounded form
    // however pixel number must not be exaggerated as multi-line content will
    // create completely rounded sides instead of just rounded edges
    border-radius: 24px;
    margin-bottom: 15px;
    padding: 10px 12px;
    cursor: pointer;
}

.todo-item:hover {
    .todo-text {
        // color: whitesmoke;
        color: rgba(whitesmoke, 0.95);
    }

    .check-box {
        border-color: transparent;
        background-color: rgba(wheat, 0.35);
        // background-color: whitesmoke;
        // background-color: rgba(whitesmoke, 0.35);
    }
}

.todo-item.completed {
    .todo-text {
        color: rgba(wheat, 0.78);
    }

    .check-box {
        background: yellowgreen;
        border-color: transparent;
        // background: rgb(9, 218, 89);

        i { 
            opacity: 1;
        }
    }
}

.todo-text {
    color: rgba(wheat, 0.9);
    // color: rgba(wheat, 0.2);
}

.check-box {
    display: flex;
    padding: 4px;
    border: 2px solid rgba(wheat, 0.35);
    border-radius: 50%;
    margin-right: 15px;

    i {
        font-size: 18px;
        opacity: 0;
    }
}

.todo-text,
.check-box{
    transition: 0.8s;
}
