<div class='row' style="margin-top: 20px;">
    <div class="col s12 m4 offset-m4">
        <div class="card hoverable" style="transition: 1000ms; border-radius: 20px;">
            <div class="card-content center">
                <h4 class="center #f9fbe7 lime lighten-4" style="cursor: default;">Login Page</h4>
                <!-- <span class="card-title">Login Page</span> -->

                <div *ngIf="isLoading" class="loader">
                    <div class="progress spinner" style="width: 70%; left: 15%;">
                        <div class="indeterminate"></div>
                    </div>
                </div>

                <p *ngIf="!isLoading" style="cursor: default;"><b>{{message}}</b></p>
                <!-- <p><em>{{message}}</em></p> -->
            </div>

            <form #loginForm="ngForm">
                <div>
                    <label for="username">Username</label>
                    <!-- <input type="text" id="username" [(ngModel)]="username" name="username" required> -->
                    <input type="text" id="username" [(ngModel)]="username" name="username" #usernameValidate="ngModel"
                        required pattern="^[a-zA-Z]{3,15}$">
                    <div [hidden]="usernameValidate.valid || usernameValidate.untouched"
                        class="card-panel red accent-1 hoverable">
                        A valid username must have 3-15 characters!
                    </div>
                </div>
                <div>
                    <label for="password">Password</label>
                    <!-- <input type="password" id="password" [(ngModel)]="password" name="password" required> -->
                    <input type="password" id="password" [(ngModel)]="password" name="password"
                        #passwordValidate="ngModel" required pattern="^[a-zA-Z0-9]{2,25}[0-9]+$">
                    <div [hidden]="passwordValidate.valid || passwordValidate.untouched"
                        class="card-panel red accent-1 hoverable">
                        A valid password url must contain 3-25 alphanumeric characters!
                    </div>
                </div>
            </form>

            <div class="card-action center">
                <a (click)="login()" class="waves-effect waves-light btn hoverable"
                    style="transition: 1000ms; border-radius: 20px;" *ngIf="!authService.isLoggedIn">Login</a>
                <a (click)="logout()" class="waves-effect waves-light btn hoverable"
                    style="transition: 1000ms; border-radius: 20px;" *ngIf="authService.isLoggedIn">Logout</a>
            </div>  
        </div>  
    </div>
</div>