<!-- has-blurred-white-bg will be employed as reusable class to give
elements a blurred white background -->
<div class="add-note-wrapper container has-blurred-white-bg">
    <h2 class="is-bold">New Note</h2>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo fugit sequi neque rem modi! Quo porro aperiam
        minima magnam placeat illo culpa ipsam dolorem, sequi nobis rerum voluptatem unde molestiae!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo fugit sequi neque rem modi! Quo porro aperiam
        minima magnam placeat illo culpa ipsam dolorem, sequi nobis rerum voluptatem unde molestiae!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo fugit sequi neque rem modi! Quo porro aperiam
        minima magnam placeat illo culpa ipsam dolorem, sequi nobis rerum voluptatem unde molestiae!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo fugit sequi neque rem modi! Quo porro aperiam
        minima magnam placeat illo culpa ipsam dolorem, sequi nobis rerum voluptatem unde molestiae!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo fugit sequi neque rem modi! Quo porro aperiam
        minima magnam placeat illo culpa ipsam dolorem, sequi nobis rerum voluptatem unde molestiae!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo fugit sequi neque rem modi! Quo porro aperiam
        minima magnam placeat illo culpa ipsam dolorem, sequi nobis rerum voluptatem unde molestiae!</p>
</div>