@import "../../../main-styles.scss";

.root {
    display: flex;
    width: 100%;
    position: relative; // required since delete button postion will be set to absolute

    .x-icon-button{
        position: absolute;
        height: 34px;
        width: 34px;
        border-radius: 50%;
        background: $dark;
        right: -17px; // half of the width
        top: -17px; // half of the height
    }
}

.budget-item {
    display: flex;
    width: 100%;
    background-color: $light-grey;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;

    .description {
        display: flex;
        flex-grow: 1; // grow will take up remaining space with 1 setting
        font-size: 18px;
        margin-left: 5px;

        // vertically center the given children elements
        align-items: center;
    }

    .amount {
        padding: 5px;
        border-radius: 3px;
    }
}

.expense {
    p {
        color: $red;
    }

    .amount {
        background-color: $light-red;
    }
}

.income {
    p {
        color: $green;
    }

    .amount {
        background-color: $light-green;
    }
}
