.tabs {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: rgba(white, 0.25);
    backdrop-filter: blur(3px);
    border-radius: 12px;
    gap: 14px;
    margin: 12px;
    margin-top: 50px;
}

.tab {
    position: relative;
    z-index: 1;
    text-decoration: none;
    // requires &:not(:last-child){ margin-right: 14px; }
}

// styles only the .tab-tile::before pseudo element, but not the entire tab-tile.
// Only the shape and not its contents (the icon), is affected
.tab.selected .tab-tile::before {
    border-radius: 50%;
    transform: scale(1.1);
    // transform: scale(1.1) translateY(-20px); // shows that only icon moves upwards, not its contents
    opacity: 1;
}

// style is only applied when tab element has the selected class
.tab.selected .tab-tile {
    transform: translateY(-28px);
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0, 1.5) ;
}

.tab-tile {
    display: flex;
    padding: 18px;
    cursor: pointer;
    transition: all 0.5s; // applies transition speed when not in selected state
    // transition: all 0.5s cubic-bezier(0, 0, 0, 2);
    // transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.475); // will only overshot when last value is over 1

    // background: rgba(black, 0.1);
    // background: linear-gradient(45deg, #f8b5a5, #e2d2fd);
    // border-radius: 12px;

    // margin-right: 14px; alternative to gap: 14px;
    // - however leaves extra right margin after the last icon

    i {
        // color: white;
        color: #222;
    }
}

// or after can be used, refers to the background shape
// styles for the tab tile background 'shape'
.tab-tile::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    z-index: -1;
    transition: all 0.5s;
    opacity: 0.9;
    // background: rgba(violet, 0.5);
    // background: linear-gradient(45deg, #f8b5a5, #e2d2fd);
}

// implement hover effect of each ::before pseudo-element
.tab-tile:hover::before {
    // transform: scale(1.2);
    transform: scale(1.1);
    opacity: 1;
}

// targets background shape of the tab-tile that is nested inside of bookmarks element
.bookmarks-tab .tab-tile::before {
    // background: linear-gradient(45deg, #f8b5a5, #e2d2fd);
    background: linear-gradient(45deg, #f7d4cc, #a97ff1);
}

.todos-tab .tab-tile::before {
    background: linear-gradient(45deg, #a2ffff, #ffbdde);
}

.notes-tab .tab-tile::before {
    background: linear-gradient(45deg, #d2cdff, #5fffbc);
}

// end of tab tile background 'shape' styles
