.tabs {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: rgba(white, 0.25);
    backdrop-filter: blur(3px);
    border-radius: 12px;
    gap: 14px;
    margin: 12px;
    margin-top: 50px;
}

.tab {
    // requires &:not(:last-child){ margin-right: 14px; }
}

.tab-tile {
    display: flex;
    padding: 18px;
    background: rgba(black, 0.1);
    cursor: pointer;
    // margin-right: 14px; alternative to gap: 14px;
    // - however leaves extra right margin after the last icon

    i {
        // color: white;
        color: #222;
    }
}
