.tabs {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: rgba(white, 0.25);
    backdrop-filter: blur(3px);
    border-radius: 12px;
    gap: 14px;
    margin: 12px;
    margin-top: 50px;
}

.tab {
    position: relative;
    z-index: 1;
    // requires &:not(:last-child){ margin-right: 14px; }
}

.tab-tile {
    display: flex;
    padding: 18px;
    // background: rgba(black, 0.1);
    // background: linear-gradient(45deg, #f8b5a5, #e2d2fd);
    cursor: pointer;
    // border-radius: 12px;

    // margin-right: 14px; alternative to gap: 14px;
    // - however leaves extra right margin after the last icon

    i {
        // color: white;
        color: #222;
    }
}

// or after can be used
.tab-tile::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    z-index: -1;
    transition: all 0.5s;
    // background: rgba(violet, 0.5);
    // background: linear-gradient(45deg, #f8b5a5, #e2d2fd);
}

// implement hover effect of each ::before pseudo-element
.tab-tile:hover::before {
    // transform: scale(1.2);
    transform: scale(1.1);
}

// targets background shape of the tab-tile that is nested inside of bookmarks element
.bookmarks-tab .tab-tile::before {
    // background: linear-gradient(45deg, #f8b5a5, #e2d2fd);
    background: linear-gradient(45deg, #f7d4cc, #a97ff1);
}

.todos-tab .tab-tile::before {
    background: linear-gradient(45deg, #a2ffff, #ffbdde);
}

.notes-tab .tab-tile::before {
    background: linear-gradient(45deg, #d2cdff, #5fffbc);
}
