<!-- <h3 class="center #f9fbe7 lime lighten-4">Page does not exist!</h3> -->

<div class="center">
    <img src="http://assets.pokemon.com/assets/cms2/img/pokedex/full/333.png" style="max-width: 300px;" @imgAnim/>
    <h1>Page does not exist !</h1>
    <!-- <a routerLink="/pokemons" class="waves-effect waves-teal btn">
        Return to PeshoMonArena!
    </a> -->
    
    <!-- <a routerLink="/pokemons" class="btn hoverable" style="transition: 1000ms; cursor: w-resize;"> -->
    <a (click)="returnToPeshomonList()" class="btn hoverable" style="transition: 1000ms; cursor: w-resize;">
        Return to PeshoMon Arena!
    </a>
</div>